.git
.DS_Store
.del-depend
build
ChangeLog
Old
*.events
*.log
*.logwx
*.prefs
*.profile
*.bak
*.tmp
*.mif
*.o
python3
pvsimu
pvsimu.exe
dist
distribute-*
*.egg-info
images
Output
xcuserdata
xcshareddata
__pycache__
.eggs/
PVSim_Dev.app/Contents/MacOS/python
